<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.4/socket.io.min.js"></script>
    <script src="../static/app.js"></script>
    <title>Random Number Viewer</title>
  </head>
  <body>
    <h1>Random Number Viewer</h1>
    <div ng-app="app" ng-controller="appcontrol">
        <table class="table table-condensed">
            <tbody>
                <tr class="list" >
                    <td>last 1~10 </td>
                    <td highlighter="number" ng-repeat="number in numberRange(0,10) track by $index""> {{ '{{number}}' }}</td>
                </tr>
                <tr class="list" >
                    <td>last 11~20 </td>
                    <td highlighter="number" ng-repeat="number in numberRange(10,20) track by $index""> {{ '{{number}}' }}</td>
                </tr>
                <tr class="list" >
                    <td>last 21~30 </td>
                    <td highlighter="number" ng-repeat="number in numberRange(20,30) track by $index"">{{ '{{number}}' }}</td>
                </tr>
                <tr class="list" >
                    <td>last 31~40 </td>
                    <td highlighter="number" ng-repeat="number in numberRange(30,40) track by $index"">{{ '{{number}}' }}</td>
                </tr>
                <tr class="list" >
                    <td>last 41~50 </td>
                    <td highlighter="number" ng-repeat="number in numberRange(40,50) track by $index"">{{ '{{number}}' }}</td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="poll on/off" ng-click="stop = !stop" />
        <div ng-show="stop">Polling off</div>
        <div ng-show="!stop">Polling on</div>
    </div>
  </body>
</html>
