<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/angular.min.js"></script>
    <script src="../static/appsample.js"></script>
    <title>Random Ticker</title>
  </head>
  <body>
    <h1>Random Ticker</h1>
    <div ng-app="app" ng-controller="appcontrol">
        <table class="table table-condensed">
            <tbody>
                <tr data-ng-repeat="stock in stocks track by $index" class="list" >
                    <td>{{stock.code}}</td>
                    <td highlighter="stock.bid">{{stock.bid}}</td>
                    <td highlighter="stock.ask">{{stock.ask}}</td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="poll on/off" ng-click="stop = !stop" />
        <div ng-show="stop">Polling off</div>
        <div ng-show="!stop">Polling on</div>
    </div>
  </body>
</html>
